*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  text-rendering: optimizeSpeed;
}

.container {
  width: 88%;
  max-width: 111rem;
  margin: 0 auto;
}

.btn {
  background-color: unset;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  font-weight: 700;
}
.btn--header {
  color: #fafafa;
  font-size: 2.3rem;
}
@media (min-width: 1140px) {
  .btn--header {
    color: #2d2640;
    font-size: unset;
  }
}
.btn--white {
  color: #fafafa;
  border: 0.2rem solid #fafafa;
}
.btn--white:hover, .btn--white:active {
  color: #2d2640;
  background-color: #fafafa;
}

.heading {
  color: #fafafa;
  font-family: "DM Serif Display", serif;
  font-size: clamp(4.5rem, 8vw, 7rem);
  text-align: center;
  line-height: 1;
}
@media (min-width: 1140px) {
  .heading {
    text-align: left;
  }
}
.heading--dark {
  color: #2b272f;
}
.heading--secondary {
  color: #2b272f;
  font-size: 2.5rem;
}

.text {
  text-align: center;
  line-height: 1.7;
}
@media (min-width: 1140px) {
  .text {
    text-align: left;
  }
}
.text--white {
  color: #fafafa;
}
.text--grey {
  width: 100%;
  max-width: 50rem;
  color: #837d87;
}

.header {
  padding: 2.5rem 0;
  position: relative;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__btn {
  border: 0;
}
@media (min-width: 1140px) {
  .header__btn {
    display: none;
  }
}
.header__nav {
  width: 100%;
  height: 90vh;
  background-color: #2b272f;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: fixed;
  top: 8.2rem;
  left: 0;
  z-index: 20;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.header__nav.nav--is-open {
  visibility: visible;
  opacity: 1;
}
@media (min-width: 810px) {
  .header__nav {
    height: 100vh;
  }
}
@media (min-width: 1140px) {
  .header__nav {
    all: revert;
  }
}
.header__list {
  margin: 5rem 0;
}
@media (min-width: 1140px) {
  .header__list {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
.header__item {
  margin: 4rem 2rem;
}
.header__item--outlined {
  padding: 1rem;
  border: 0.2rem solid #fafafa;
}
@media (min-width: 1140px) {
  .header__item {
    margin: 0;
  }
  .header__item--outlined {
    padding: 1rem 0;
    color: #2d2640;
    border: 0.2rem solid #2d2640;
  }
  .header__item--outlined:hover .btn--header, .header__item--outlined:active .btn--header {
    color: #fafafa;
    background-color: #2d2640;
  }
}
.header__link:link, .header__link:visited {
  color: #837d87;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
@media (min-width: 1140px) {
  .header__link:link, .header__link:visited {
    font-size: 1.4rem;
    transition: all 0.3s;
  }
  .header__link:hover, .header__link:active {
    color: #2d2640;
  }
}

.intro {
  background-color: #2d2640;
  margin-bottom: 15rem;
  position: relative;
}
.intro::before {
  content: url("../images/bg-pattern-intro-left-mobile.svg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.intro::after {
  content: url("../images/bg-pattern-intro-right-mobile.svg");
  position: absolute;
  bottom: -18rem;
  right: 0;
  z-index: 10;
}
@media (min-width: 810px) {
  .intro::before {
    top: 0;
  }
  .intro::after {
    bottom: -15rem;
  }
}
@media (min-width: 1140px) {
  .intro {
    min-height: 65vh;
    margin-bottom: 32rem;
  }
  .intro::before {
    content: url("../images/bg-pattern-intro-left-desktop.svg");
    top: 45.1rem;
  }
  .intro::after {
    content: url("../images/bg-pattern-intro-right-desktop.svg");
    top: 0;
  }
}
.intro__container {
  width: 100%;
  position: relative;
}
@media (min-width: 810px) {
  .intro__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
  }
}
.intro__wrapper {
  padding: 9rem 0;
  width: 88%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 810px) {
  .intro__wrapper {
    padding: 10rem 5rem;
    width: unset;
    margin: 0;
    align-items: start;
  }
}
@media (min-width: 1140px) {
  .intro__wrapper {
    padding: 10rem 4rem 0 0;
  }
}
.intro__heading {
  z-index: 10;
  position: relative;
}
@media (min-width: 810px) {
  .intro__heading {
    text-align: left;
  }
}
@media (min-width: 1140px) {
  .intro__heading {
    padding: 6rem 0 0 0;
  }
  .intro__heading::before {
    content: "";
    width: 45%;
    height: 0.1rem;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
  }
}
@media (min-width: 1140px) and (min-width: 1140px) {
  .intro__heading::before {
    width: 30%;
    left: 0;
    transform: translateX(0);
  }
}
.intro__text {
  margin: 2rem 0 2.5rem 0;
}
@media (min-width: 810px) {
  .intro__text {
    text-align: left;
  }
}
@media (min-width: 810px) {
  .intro__picture {
    grid-column: 2/-1;
  }
}
.intro__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (min-width: 1140px) {
  .intro__img {
    all: revert;
  }
}
@media (min-width: 1140px) {
  .intro__img--desktop {
    width: 50%;
    position: absolute;
    top: 10rem;
    right: 0;
  }
}

.details__heading {
  position: relative;
  padding: 3rem 0 8rem 0;
}
@media (min-width: 1140px) {
  .details__heading {
    padding: 6rem 0 10rem 0;
  }
}
.details__heading::before {
  content: "";
  width: 45%;
  height: 0.1rem;
  background-color: #837d87;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
@media (min-width: 1140px) {
  .details__heading::before {
    width: 14%;
    left: 0;
    transform: translateX(0);
  }
}
.details__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 1140px) {
  .details__wrapper {
    flex-direction: row;
  }
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.detail__icon {
  margin-bottom: 2rem;
}
@media (min-width: 1140px) {
  .detail {
    align-items: start;
  }
}

.hero {
  background-color: #2d2640;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  margin: 15rem 0;
  padding: 7rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1140px) {
  .hero {
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    padding: 7rem 8rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero__heading {
  font-size: clamp(3.8rem, 8vw, 5.3rem);
  margin-bottom: 4rem;
  flex-basis: 52%;
}
@media (min-width: 1140px) {
  .hero__heading {
    margin-bottom: 0;
  }
}

.attribution {
  background-color: rgba(131, 125, 135, 0.05);
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
  font-size: 1rem;
  text-align: center;
  padding: 9.5rem 0;
}
@media (min-width: 1140px) {
  .attribution {
    padding: 6rem 0;
    background-image: url("../images/bg-pattern-footer-desktop.svg");
  }
}
.attribution__icons-wrapper {
  border-bottom: 0.1rem solid rgba(131, 125, 135, 0.2);
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 810px) {
  .attribution__icons-wrapper {
    justify-content: space-between;
    flex-direction: row;
  }
}
.attribution__icon {
  fill: #837d87;
  transition: all 0.3s;
}
.attribution__icon:hover, .attribution__icon:active {
  fill: #2b272f;
}
.attribution__icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.attribution__nav-list {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
@media (min-width: 1140px) {
  .attribution__nav-list {
    text-align: left;
    justify-items: start;
  }
}
.attribution__nav-item {
  color: #837d87;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.attribution__nav-sublist {
  margin: 3.5rem 0;
}
.attribution__nav-subitem {
  margin: 1.5rem 0;
}
.attribution__nav-sublink:link, .attribution__nav-sublink:visited {
  color: #2b272f;
  text-decoration: none;
}
.attribution__nav-sublink:hover, .attribution__nav-sublink:active {
  text-decoration: underline;
}
.attribution__link:link, .attribution__link:visited {
  text-transform: uppercase;
  color: #2d2640;
  transition: all 0.3s;
}
.attribution__link:hover, .attribution__link:active {
  color: #837d87;
}

.is-fixed {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
