@use './base' as *;

.logo {
}

.btn {
  background-color: unset;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  font-weight: 700;

  &--header {
    color: $color-secondary--light;
    font-size: 2.3rem;

    @media (min-width: 1140px) {
      color: $color-primary;
      font-size: unset;
    }
  }

  &--white {
    color: $color-secondary--light;
    border: 0.2rem solid $color-secondary--light;

    &:hover,
    &:active {
      color: $color-primary;
      background-color: $color-secondary--light;
    }
  }
}

.heading {
  color: $color-secondary--light;
  font-family: $font-secondary;
  font-size: clamp(4.5rem, 8vw, 7rem);
  text-align: center;
  line-height: 1;

  @media (min-width: 1140px) {
    text-align: left;
  }

  &--dark {
    color: $color-primary--light;
  }

  &--secondary {
    color: $color-primary--light;
    font-size: 2.5rem;
  }
}

.text {
  text-align: center;
  line-height: 1.7;

  @media (min-width: 1140px) {
    text-align: left;
  }

  &--white {
    color: $color-secondary--light;
  }

  &--grey {
    width: 100%;
    max-width: 50rem;
    color: $color-secondary--dark;
  }
}

.header {
  padding: 2.5rem 0;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    border: 0;

    @media (min-width: 1140px) {
      display: none;
    }
  }

  &__nav {
    width: 100%;
    height: 90vh;
    background-color: $color-primary--light;
    background-image: url('../images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: fixed;
    top: 8.2rem;
    left: 0;
    z-index: 20;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    &.nav--is-open {
      visibility: visible;
      opacity: 1;
    }

    @media (min-width: 810px) {
      height: 100vh;
    }

    @media (min-width: 1140px) {
      all: revert;
    }
  }

  &__list {
    margin: 5rem 0;

    @media (min-width: 1140px) {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }
  }

  &__item {
    margin: 4rem 2rem;

    &--outlined {
      padding: 1rem;
      border: 0.2rem solid $color-secondary--light;
    }

    @media (min-width: 1140px) {
      margin: 0;

      &--outlined {
        padding: 1rem 0;
        color: $color-primary;
        border: 0.2rem solid $color-primary;

        &:hover,
        &:active {
          .btn--header {
            color: $color-secondary--light;
            background-color: $color-primary;
          }
        }
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-secondary--dark;
      font-size: 2.2rem;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
    }

    @media (min-width: 1140px) {
      &:link,
      &:visited {
        font-size: 1.4rem;
        transition: all 0.3s;
      }

      &:hover,
      &:active {
        color: $color-primary;
      }
    }
  }
}

.intro {
  background-color: $color-primary;
  margin-bottom: 15rem;
  position: relative;

  &::before {
    content: url('../images/bg-pattern-intro-left-mobile.svg');
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &::after {
    content: url('../images/bg-pattern-intro-right-mobile.svg');
    position: absolute;
    bottom: -18rem;
    right: 0;
    z-index: 10;
  }

  @media (min-width: 810px) {
    &::before {
      top: 0;
    }

    &::after {
      bottom: -15rem;
    }
  }

  @media (min-width: 1140px) {
    min-height: 65vh;
    margin-bottom: 32rem;

    &::before {
      content: url('../images/bg-pattern-intro-left-desktop.svg');
      top: 45.1rem;
    }

    &::after {
      content: url('../images/bg-pattern-intro-right-desktop.svg');
      top: 0;
    }
  }

  &__container {
    width: 100%;
    position: relative;

    @media (min-width: 810px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;
    }
  }

  &__wrapper {
    padding: 9rem 0;
    width: 88%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 810px) {
      padding: 10rem 5rem;
      width: unset;
      margin: 0;
      align-items: start;
    }

    @media (min-width: 1140px) {
      padding: 10rem 4rem 0 0;
    }
  }

  &__heading {
    z-index: 10;
    position: relative;

    @media (min-width: 810px) {
      text-align: left;
    }

    @media (min-width: 1140px) {
      padding: 6rem 0 0 0;

      &::before {
        content: '';
        width: 45%;
        height: 0.1rem;
        background-color: $color-secondary--light;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;

        @media (min-width: 1140px) {
          width: 30%;
          left: 0;
          transform: translateX(0);
        }
      }
    }
  }

  &__text {
    margin: 2rem 0 2.5rem 0;

    @media (min-width: 810px) {
      text-align: left;
    }
  }

  &__picture {
    @media (min-width: 810px) {
      grid-column: 2 / -1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @media (min-width: 1140px) {
      all: revert;
    }

    &--mobile {
    }

    &--desktop {
      @media (min-width: 1140px) {
        width: 50%;
        position: absolute;
        top: 10rem;
        right: 0;
      }
    }
  }
}

.details {
  &__heading {
    position: relative;
    padding: 3rem 0 8rem 0;

    @media (min-width: 1140px) {
      padding: 6rem 0 10rem 0;
    }

    &::before {
      content: '';
      width: 45%;
      height: 0.1rem;
      background-color: $color-secondary--dark;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;

      @media (min-width: 1140px) {
        width: 14%;
        left: 0;
        transform: translateX(0);
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: 1140px) {
      flex-direction: row;
    }
  }
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  &__icon {
    margin-bottom: 2rem;
  }

  @media (min-width: 1140px) {
    align-items: start;
  }
}

.hero {
  background-color: $color-primary;
  background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  margin: 15rem 0;
  padding: 7rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 1140px) {
    background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
    padding: 7rem 8rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &__heading {
    font-size: clamp(3.8rem, 8vw, 5.3rem);
    margin-bottom: 4rem;
    flex-basis: 52%;

    @media (min-width: 1140px) {
      margin-bottom: 0;
    }
  }
}

.attribution {
  background-color: rgba($color-secondary--dark, 0.05);
  background-image: url('../images/bg-pattern-footer-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left;
  font-size: 1rem;
  text-align: center;
  padding: 9.5rem 0;

  @media (min-width: 1140px) {
    padding: 6rem 0;
    background-image: url('../images/bg-pattern-footer-desktop.svg');
  }

  &__icons-wrapper {
    border-bottom: 0.1rem solid rgba($color-secondary--dark, 0.2);
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;

    @media (min-width: 810px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__icon {
    fill: $color-secondary--dark;
    transition: all 0.3s;

    &:hover,
    &:active {
      fill: $color-primary--light;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }

    &-item {
    }

    &-link {
    }
  }

  &__nav {
    &-list {
      padding-top: 4rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

      @media (min-width: 1140px) {
        text-align: left;
        justify-items: start;
      }
    }

    &-item {
      color: $color-secondary--dark;
      font-weight: 700;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    &-sublist {
      margin: 3.5rem 0;
    }

    &-subitem {
      margin: 1.5rem 0;
    }

    &-sublink {
      &:link,
      &:visited {
        color: $color-primary--light;
        text-decoration: none;
      }

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-primary;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-secondary--dark;
  }
}

.is-fixed {
  overflow: hidden;
}
